<% if book.favorited_by?(current_user) %>
  <td>
    <%= link_to book_favorites_path(book), method: :delete , local:true  do %>
      <span style="color: red"><i class="fas fa-heart"></i><%= book.favorites.count %></span>
    <% end %>
  </td>
  <% else %>
    <td>
      <%= link_to book_favorites_path(book), method: :post, local:true do %>
      <i class="fas fa-heart "></i><%= book.favorites.count %>
      <% end %>
    </td>
 <% end %>